@charset "UTF-8";
/* SASS Mixins
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Responsive Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.mw-wrapper, .mw-row {
  *zoom: 1;
}
.mw-wrapper:before, .mw-row:before, .mw-wrapper:after, .mw-row:after {
  content: " ";
  display: table;
}
.mw-wrapper:after, .mw-row:after {
  clear: both;
}

*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: auto;
  max-width: 100%;
  height: auto !important;
}

.mw-wrapper {
  width: 100%;
  margin: 0 auto;
}

[class*='column-'] {
  float: left;
  padding: 0em;
  width: 100%;
  min-height: 1px;
}

@media only screen and (min-width: 35em) {
  .mw-wrapper {
    width: 95%;
    max-width: 65em;
  }

  .column-small-1 {
    width: 8.33333%;
  }

  .column-small-2 {
    width: 16.66667%;
  }

  .column-small-3 {
    width: 25%;
  }

  .column-small-4 {
    width: 33.33333%;
  }

  .column-small-5 {
    width: 41.66667%;
  }

  .column-small-6 {
    width: 50%;
  }

  .column-small-7 {
    width: 58.33333%;
  }

  .column-small-8 {
    width: 66.66667%;
  }

  .column-small-9 {
    width: 75%;
  }

  .column-small-10 {
    width: 83.33333%;
  }

  .column-small-11 {
    width: 91.66667%;
  }

  .column-small-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 62em) {
  .mw-wrapper {
    width: 95%;
    max-width: 65em;
  }

  .column-medium-1 {
    width: 8.33333%;
  }

  .column-medium-2 {
    width: 16.66667%;
  }

  .column-medium-3 {
    width: 25%;
  }

  .column-medium-4 {
    width: 33.33333%;
  }

  .column-medium-5 {
    width: 41.66667%;
  }

  .column-medium-6 {
    width: 50%;
  }

  .column-medium-7 {
    width: 58.33333%;
  }

  .column-medium-8 {
    width: 66.66667%;
  }

  .column-medium-9 {
    width: 75%;
  }

  .column-medium-10 {
    width: 83.33333%;
  }

  .column-medium-11 {
    width: 91.66667%;
  }

  .column-medium-12 {
    width: 100%;
  }
}
/* Views
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.woocommerce {
  display: block;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  padding: 1em;
}

.product .images, .product .product_title, .product .product-border, .product .product_meta, .product .social-share {
  display: none !important;
}
.product .summary.entry-summary {
  margin: 0 !important;
}
.product .cart {
  display: block !important;
  margin: 0 !important;
}

.gform_wrapper {
  margin: 0 !important;
}
.gform_wrapper .mw-custom-order .description {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
}
.gform_wrapper .gravity-select-parent {
  width: auto !important;
}
.gform_wrapper .gravity-select-parent .select-arrow {
  display: none;
}

.mw-custom-order {
  display: block;
  background-color: #5aabd6;
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #105378 0%, #5aabd6 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #105378 0%, #5aabd6 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#105378', endColorstr='#5aabd6',GradientType=0 );
  /* IE6-9 */
  border: 0px none;
  border-radius: 2px;
  font-size: 17px;
  line-height: 1.45em;
  font-weight: 400;
  color: #fff;
}
.mw-custom-order .app {
  display: block;
  position: relative;
  overflow: hidden;
}
.mw-custom-order h1, .mw-custom-order h2, .mw-custom-order h3, .mw-custom-order h4, .mw-custom-order h5, .mw-custom-order h6 {
  font-weight: bold !important;
  text-transform: none !important;
}
.mw-custom-order h1 {
  font-size: 32px !important;
}
.mw-custom-order h2 {
  font-size: 25px !important;
}
.mw-custom-order h3 {
  font-size: 17px !important;
}
.mw-custom-order .Summary {
  padding: 1em;
}
.mw-custom-order .Summary .price {
  margin: 0 0 1em;
  font-size: 25px;
  white-space: nowrap;
}
.mw-custom-order .Summary .price .label {
  margin-bottom: 0.5em;
  font-weight: bold;
}
.mw-custom-order .Summary .description {
  font-size: 12px;
  line-height: 1.45em;
}
.mw-custom-order .Order {
  padding: 1em;
  color: #747474;
}
.mw-custom-order .Order .Steps {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  min-height: 500px;
  overflow: hidden;
}
.mw-custom-order .Order .Steps .Step {
  display: block;
  position: absolute;
  top: 1em;
  left: 1em;
  right: 1em;
  bottom: 1em;
}
.mw-custom-order .Order .Steps .Step.step-enter {
  opacity: 0.01;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}
.mw-custom-order .Order .Steps .Step.step-enter.step-enter-active {
  opacity: 1;
  -webkit-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
  -webkit-transition: opacity 500ms ease, -webkit-transform 500ms ease;
          transition: opacity 500ms ease, transform 500ms ease;
}
.mw-custom-order .Order .Steps .Step.step-leave {
  opacity: 1;
  -webkit-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
}
.mw-custom-order .Order .Steps .Step.step-leave.step-leave-active {
  opacity: 0.01;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  -webkit-transition: opacity 500ms ease, -webkit-transform 500ms ease;
          transition: opacity 500ms ease, transform 500ms ease;
}
.mw-custom-order .Order .Steps .Step > header {
  margin: 0 0 1em;
}
.mw-custom-order .Order .Steps .Step > main {
  margin: 0 0 1em;
}
.mw-custom-order .Order .Steps .Step > main table {
  width: 100%;
}
.mw-custom-order .Order .Steps .Step > main table tr th, .mw-custom-order .Order .Steps .Step > main table tr td {
  margin: 0;
  padding: 0.5em 0;
  text-transform: none;
  text-align: left;
  vertical-align: top;
}
.mw-custom-order .Order .Steps .Step > main table tr th {
  width: 25%;
}
.mw-custom-order .Order .Steps .Step > main .selection-list {
  cursor: pointer;
  height: auto;
  overflow-y: auto;
  max-height: 300px;
  border: 1px solid #ddd;
  border-radius: 2px;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  width: 100%;
  padding: 0px !important;
  margin: 0;
  outline: none;
}
.mw-custom-order .Order .Steps .Step > main .selection-list .option, .mw-custom-order .Order .Steps .Step > main .selection-list option {
  margin: 0;
  padding: 0.25em 0.5em;
  border-bottom: 1px solid #ddd;
}
.mw-custom-order .Order .Steps .Step > main .selection-list .option:last-child, .mw-custom-order .Order .Steps .Step > main .selection-list option:last-child {
  border-bottom: 0px none;
}
.mw-custom-order .Order .Steps .Step > main .selection-list .option:hover, .mw-custom-order .Order .Steps .Step > main .selection-list option:hover {
  background-color: #ddd;
}
.mw-custom-order .Order .Steps .Step > main .radio-group label {
  width: auto;
  margin-right: 1em;
  white-space: nowrap;
}
.mw-custom-order .Order .Steps .Step > main .radio-group input {
  width: auto !important;
}
.mw-custom-order .Order .Steps .Step > footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.mw-custom-order .Order .Steps .Step > footer .previous {
  text-align: left;
}
.mw-custom-order .Order .Steps .Step > footer .next {
  text-align: right;
}
.mw-custom-order .Order .Steps .Fabrication .fabrication-options .selection-list {
  width: 95%;
}
.mw-custom-order .Order .Steps .Fabrication .fabrication-selection .control {
  text-align: right;
}
.mw-custom-order .Order .Steps .Fabrication .fabrication-selection .control .fabrication-button {
  padding: 0.25em 0.5em;
  margin: 0;
  line-height: 20px;
  font-size: 12px;
  outline: none;
  border: 0px none;
  background-color: #ccc;
  color: #fff;
  border-radius: 2px;
}
.mw-custom-order .Order .Steps .Fabrication .fabrication-selection .control .fabrication-button:hover {
  background-color: #bbb;
}

.woocommerce-tabs, .gf-product-price, .gf-product-details, .gf-product-total, .quantity, .single_add_to_cart_button, .ginput_container_fileupload, .gform_footer, .gfield_label {
  visibility: hidden !important;
  height: 0px;
  overflow: hidden !important;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Larger than mobile */
/* Larger than phablet (also point when grid becomes active) */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
