/* Views
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.woocommerce {
	display: block;
	position: relative;
	overflow: hidden;
	background-color: #fff;
	padding: 1em;
}
.product {
	.images, .product_title, .product-border, .product_meta, .social-share {
		display: none !important;
	}
	.summary.entry-summary {
		margin: 0 !important;
	}
	.cart {
		display: block !important;
		margin: 0 !important;
	}
}

.gform_wrapper {
	margin: 0 !important;
	.mw-custom-order {
		.description {
			font-size: inherit;
			font-weight: inherit;
			line-height: inherit;
			padding: 0;
		}
	}
	.gravity-select-parent {
		width: auto !important;
		.select-arrow {
			display: none;
		}
	}
}

$font-size-small: 12px;
$font-size-normal: 17px;
$font-size-large: 25px;
$font-size-larger: 32px;
$line-height: 1.45em;

.mw-custom-order {
	display: block;
	background-color: #5aabd6;
	background: -moz-linear-gradient(top,  #105378 0%, #5aabd6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #105378 0%,#5aabd6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #105378 0%,#5aabd6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#105378', endColorstr='#5aabd6',GradientType=0 ); /* IE6-9 */
	border: 0px none;
	border-radius: 2px;
	font-size: $font-size-normal;
	line-height: $line-height;
	font-weight: 400;
	color: #fff;
	.app {
		display: block;
		position: relative;
		overflow: hidden;
		&.loading {
			
		}
	}
	h1, h2, h3, h4, h5, h6 {
		font-weight: bold !important;
		text-transform: none !important;
	}
	h1 {
		font-size: $font-size-larger !important;
	}
	h2 {
		font-size: $font-size-large !important;
	}
	h3 {
		font-size: $font-size-normal !important;
	}
	.Summary {
		padding: 1em;
		.price {
			margin: 0 0 1em;
			font-size: $font-size-large;
			white-space: nowrap;
			.label {
				margin-bottom: 0.5em;
				font-weight: bold;
			}
		}
		.description {
			font-size: $font-size-small;
			line-height: $line-height;
		}
	}
	.Order {
		padding: 1em;
		color: #747474;
		.Steps {
			display: block;
			position: relative;
			padding: 0;
			margin: 0;
			background-color: #fff;
			border: 1px solid #ccc;
			min-height: 500px;
			overflow: hidden;
			.Step {
				display: block;
				position: absolute;
				top: 1em;
				left: 1em;
				right: 1em;
				bottom: 1em;
				&.step-enter {
					opacity: 0.01;
					transform: translate3d(100%, 0, 0);
				}
				&.step-enter.step-enter-active {
					opacity: 1;
					transform: translate3d(0%, 0, 0);
					transition: opacity 500ms ease, transform 500ms ease;
				}
				&.step-leave {
					opacity: 1;
					transform: translate3d(0%, 0, 0);
				}
				&.step-leave.step-leave-active {
					opacity: 0.01;
					transform: translate3d(-100%, 0, 0);
					transition: opacity 500ms ease, transform 500ms ease;
				}
				> header {
					margin: 0 0 1em;
				}
				> main {
					margin: 0 0 1em;
					table {
						width: 100%;
						tr {
							th, td {
								margin: 0;
								padding: 0.5em 0;
								text-transform: none;
								text-align: left;
								vertical-align: top;
							}
							th {
								width: 25%;
							}
						}
					}
					.selection-list {
						cursor: pointer;
						height: auto;
						overflow-y: auto;
						max-height: 300px;
						border: 1px solid #ddd;
						border-radius: 2px;
						font-size: inherit;
						font-weight: inherit;
						color: inherit;
						width: 100%;
						padding: 0px !important;
						margin: 0;
						outline: none;
						.option, option {
							margin: 0;
							padding: 0.25em 0.5em;
							border-bottom: 1px solid #ddd;
							&:last-child {
								border-bottom: 0px none;
							}
							&:hover {
								background-color: #ddd;
							}
						}
					}
					.radio-group {
						label {
							width: auto;
							margin-right: 1em;
							white-space: nowrap;
						}
						input {
							width: auto !important;
						}
					}
				}
				> footer {
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					.previous {
						text-align: left;
					}
					.next {
						text-align: right;
					}
				}
			}
			.Fabrication {
				.fabrication-options {
					.selection-list {
						width: 95%;
					}
				}
				.fabrication-selection {
					.control {
						text-align: right;
						.fabrication-button {
							padding: 0.25em 0.5em;
							margin: 0;
							line-height: $font-size-small + 8px;
							font-size: $font-size-small;
							outline: none;
							border: 0px none;
							background-color: #ccc;
							color: #fff;
							border-radius: 2px;
							&:hover {
								background-color: #bbb;
							}
						}
					}
				}
			}
		}
	}
}
.woocommerce-tabs, .gf-product-price, .gf-product-details, .gf-product-total, .quantity, .single_add_to_cart_button, .ginput_container_fileupload, .gform_footer, .gfield_label {
	visibility: hidden !important;
	height: 0px;
	overflow: hidden !important;
}
